.primary{
    -fx-background-color: #1565c0;
    -fx-text-fill: #fff;
    -fx-font-size: 18;
}
.primaryLight{
    -fx-background-color: #5e92f3;
}
.primaryDark{
    -fx-background-color: #003c8f;
}
.secondary{
    -fx-background-color: #6a1b9a;
}
.secondaryLight{
    -fx-background-color: #9c4dcc;
}
.secondaryDark{
    -fx-background-color: #38006b;
}

.btn:hover{
    -fx-background-color: #003c8f;
    -fx-text-fill: #fff;
}

.info-box{
    -fx-border-color: #fff;
    -fx-border-width: 1px 0px 0px 0px;
}
.info-box .label{
    -fx-font-size: 14;
}
.info-box .text-area{
    -fx-text-fill: #fff;
    -fx-font-size: 11;
}
.info-box .text-area .content{
    -fx-background-color: #0d3c73;
}

.version{
    -fx-font-size: 14;
}