.root{
    COLOR_PRIMARY: #1565c0;
    COLOR_PRIMARY_LIGHT: #5e92f3;
    COLOR_PRIMARY_DARK: #003c8f;
    COLOR_SECONDARY: #6a1b9a;
    COLOR_SECONDARY_LIGHT: #9c4dcc;
    COLOR_SECONDARY_DARK: #38006b;
}

.primary{
    -fx-background-color: COLOR_PRIMARY;
    -fx-text-fill: #fff;
    -fx-font-size: 18;
}
.primaryLight{
    -fx-background-color: COLOR_PRIMARY_LIGHT;
}
.primaryDark{
    -fx-background-color: COLOR_PRIMARY_DARK;
}
.secondary{
    -fx-background-color: COLOR_SECONDARY;
    -fx-text-fill: #fff;
    -fx-font-size: 18;
}
.secondaryLight{
    -fx-background-color: COLOR_SECONDARY_LIGHT;
}
.secondaryDark{
    -fx-background-color: COLOR_SECONDARY_DARK;
}

.btn{
    -fx-text-fill: #fff;
}
.btn:hover{
    -fx-background-color: COLOR_PRIMARY_DARK;
    -fx-text-fill: #fff;
}
.view-button{
    -fx-background-color: COLOR_SECONDARY;
    -fx-text-fill: #fff;
}
.view-button:hover{
    -fx-background-color: COLOR_SECONDARY_DARK;
    -fx-text-fill: #fff;
}

.info-box{
    -fx-border-color: #fff;
    -fx-border-width: 1px 0px 0px 0px;
}
.info-box .label{
    -fx-text-fill: #fff;
    -fx-font-size: 14;
}
.info-box .text-area{
    -fx-text-fill: #fff;
    -fx-font-size: 11;
}
.info-box .text-area .content{
    -fx-background-color: #0d3c73;
}

#version{
    -fx-text-fill: #fff;
    -fx-font-size: 14;
}

.header1 {
    -fx-text-fill: COLOR_SECONDARY;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 0 10 10;
}